In [3]:
# Tuple is a collection which is ordered and unchangeable. Allows duplicate members
# ordered means its members are not shuffled 
# Tuple are used to store multiple items are single variables 
first_tuple =(2,)
print(first_tuple)
print(type(first_tuple))
#Note: If we want to create a tuple which has only one member than we add the comma after the member otherwise it will becomes as the member we define like in our case we define a number so its type will be number not the tuple
wrong_tuple =(2)
print(wrong_tuple)
print(type(wrong_tuple))

(2,)
<class 'tuple'>
2
<class 'int'>

In [1]:
alph_tuple = (1,2,3,4,5,6,7,8,9,10) 
x =alph_tuple[0:6:2] 
print(x)

(1, 3, 5)

In [5]:
alph_tuple = (0,1,2,3,4,5,6,7,8,9,10) 
x =alph_tuple[7:3:-1]  
print(x)

(7, 6, 5, 4)

In [13]:
alph_tuple = (0,1,2,3, 4  ,5, 6,7,8,9,10) 
x =alph_tuple[-7:-3:1]  
print(x)

(4, 5, 6, 7)

In [4]:
alph_tuple = (0,1,2,3,4,5,6,7,8,9,10) 
x =alph_tuple[3:7]  
print(x)

(3, 4, 5, 6)

In [10]:
alph_tuple = [0,  1,2,3    ,4,5,6,7,8,9,10] 
x =alph_tuple[-7:-9:-1] 
print(x)

[4, 3]

In [15]:
alph_tuple = [0,1,2,3  ,4,5,6,  7,8,9,10] 
x =alph_tuple[7:3:-1] 
print(x)

[7, 6, 5, 4]

In [14]:


alph_tuple = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
result = alph_tuple[:5:-1]
 
print(result)

(9, 8, 7, 6)

In [17]:
# Update tuple: Once a tuple is created we can't change its values. Tuples are immutables or unchangeable . 
# We can convert tuple into list change the list and convert the list back into a tuple

tuple_a = ('a','b')

list_a = list(tuple_a)
list_a.append('c')
tuple_a = tuple(list_a)
print(tuple_a)

('a', 'b', 'c')

In [18]:
fruit_tuple = ("apple","banana","cherry")
print(f"old fruit_tuple id:{id(fruit_tuple)}:{fruit_tuple}")
new_fruit_tuple = ("orange",)
fruit_tuple +=new_fruit_tuple

print(f"old fruit_tuple id:{id(fruit_tuple)}:{fruit_tuple}")

old fruit_tuple id:2808259476224:('apple', 'banana', 'cherry')
old fruit_tuple id:2808260412656:('apple', 'banana', 'cherry', 'orange')

In [21]:
# We can delete the tuple completely
fruit_tuple = ("apple","banana","cherry")
del fruit_tuple
print(fruit_tuple)

NameError: name 'fruit_tuple' is not defined

In [22]:
# Unpacking a Tuple"
fruit_tuple = ("apple","banana","cherry")

(a, b, c) = fruit_tuple

print(a)
print(b)
print(c)

apple
banana
cherry

In [24]:
# Unpacking a Tuple"
fruit_tuple = ("apple","banana","cherry","orange","mango")

(a, *b, c) = fruit_tuple

print(a)
print(f"{b} type of b {type(b)}")
print(c)

apple
['banana', 'cherry', 'orange'] type of b <class 'list'>
mango

In [25]:
# Unpacking a Tuple"
fruit_tuple = ("apple","banana","cherry","orange","mango")

(a, *b, c) = fruit_tuple
print(f"old type of b {id(b)}")
b.append("grapes")

print(a)
print(f"{b} type of b {type(b)} and its memory location {id(b)}")
print(c)

old type of b 2808266391296
apple
['banana', 'cherry', 'orange', 'grapes'] type of b <class 'list'> and its memory location 2808266391296
mango

first fruit_tuple ['apple', ['banana', 'cherry', 'orange'], 'mango'] and its memory location 2808266391296
old type of b 2808266003072
apple
[['banana', 'cherry', 'orange'], 'grapes'] type of b <class 'list'> and its memory location 2808266003072
mango
second fruit_tuple ['apple', ['banana', 'cherry', 'orange'], 'mango'] and its memory location 2808266391296

In [32]:
for i in range(-8,10,):
    print(i)

-8
-7
-6
-5
-4
-3
-2
-1
0
1
2
3
4
5
6
7
8
9

In [35]:
# Tuple Methods
# count(): Returns the number of times a specified value occurs in a tuple.

tuple_a = ('apple', 'banana', 'cherry', 'banana', 'apple')
print(tuple_a.count('banana'))

# index(): Returns the index of the first occurrence of a specified value in a tuple. it no

tuple_a = ('apple', 'banana', 'cherry', 'banana', 'apple')
print(tuple_a.index('banana')) # The index() method raises an exception if the value is not found.
print(tuple_a.index('bananaa'))

2
1

ValueError: tuple.index(x): x not in tuple